@model IEnumerable<RecipesApp.Models.Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Categories" asp-action="List" asp-route-CategoryId="@item.Id">@item.Name</a>
    </li>
}