@model IEnumerable<RecipesApp.Models.Recipe>
@*@model SearchViewModel*@

@{ ViewData["Title"] = "Home"; }

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @if(!item.IsSalable) {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body p-0">
                            <img class="w-100" src="@Url.Content(item.Image)" alt="Image" />
                            <p class="pl-2">@Html.DisplayFor(modelItem => item.Name)</p>
                            <p class="pl-2">@Html.DisplayFor(modelItem => item.Category.Name)</p>
                            <a class="m-2 btn btn-primary form-control w-25 text-center" asp-action="Details" asp-controller="Recipes" asp-route-id="@item.RecipeId">Details</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
